* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin-left: auto; /* Moves the ul to the right */
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  text-decoration-color: #ffc700;
}

.logo {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  max-height: 40px;
  bottom: -5rem;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 100%;
  height: 60rem;
  overflow: hidden;
}

.img-container img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #000, #0003);
  pointer-events: none;
}
